@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');

.Catalogue {
    margin-bottom: 50px;
    padding: 30px;
    width: 50%;
    height: 320px;
    margin: 0 auto;
    border: 2px solid lightcoral;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #07575B;
    position: relative;
}
.CatalogueForTasks {
    margin-bottom: 50px;
    padding: 30px;
    width: 50%;
    height: 500px;
    margin: 0 auto;
    border: 2px solid lightcoral;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #07575B;
    position: relative;
}
.CatalogueForTasks .CatalogueItem{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    height: 35px;
    width: 300px;
    text-align: center;
    line-height: 35px;
    color: rgb(46, 184, 230);
    cursor: pointer;
}
.CatalogueForTasks .CatalogueItemSelected{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    height: 35px;
    width: 300px;
    text-align: center;
    line-height: 35px;
    color: #C4DFE6;
    background-color: #66A5AD;
    border-radius: 5px;
    border-bottom: 2px solid #C4DFE6;
    cursor: pointer;
}

.CatalogueItem {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    height: 35px;
    width: 130px;
    text-align: center;
    line-height: 35px;
    color: rgb(46, 184, 230);
    cursor: pointer;
}

.CatalogueItemSelected {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    height: 35px;
    width: 130px;
    text-align: center;
    line-height: 35px;
    color: #C4DFE6;
    background-color: #66A5AD;
    border-radius: 5px;
    border-bottom: 2px solid #C4DFE6;
    cursor: pointer;
}

.CatalogueItem:hover {
   background-color: #66A5AD;
   border-bottom: 2px solid #C4DFE6;
   border-radius: 5px;
}

.Button {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}