@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.ModalActive {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    border: 2px solid #A3F6F7;
    border-radius: 5px;
    background-image: url(../img/space-gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    border: 2px solid #A3F6F7;
    border-radius: 5px;
    background-image: url(../img/space-gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


.ModalContent {
    padding: 20px;
    width: 500px;
    height: 400px;
    border: 2px solid #A3F6F7;
    border-radius: 5px;
    background-color: rgba(10, 10, 48, 0.7);
    font-family: 'Press Start 2P', cursive;
    line-height: 2;
    color: rgb(46, 184, 230);
    text-align: center;
}

.Button {
    margin-top: 20px;
    width: 180px;
    height: 40px;
    background-color: rgba(10, 10, 48, 0.3);
    border: 2px solid #A3F6F7;
    border-radius: 5px;
    color: rgb(46, 184, 230);
    font-family: 'Press Start 2P', cursive;
    font-size: 28px;
}