*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.App {
  height: 120vh;
  width: 100%;
  padding: 50px;
  /* background-color: #003B46; */
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}